.membership-header {
    text-align: center;
}

.final-results {
    padding:10px;
}

.yr-result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
}

.yr-title {
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}